<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://code.alibabatech.com/schema/dubbo
          http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <dubbo:application name="weixin-service-system"/>

  <dubbo:registry id="zk1" address="${weixin.dubbo.reistry.address}" protocol="zookeeper"/> <!-- 注意要关闭防火墙 -->

  <dubbo:protocol id="mydubbo" name="dubbo" host="${weixin.dubbo.host.address}" port="20885"/>

  <dubbo:provider registry="zk1" protocol="mydubbo"/>

  <dubbo:service interface="com.cheng.weixin.rpc.system.service.RpcSystemService" ref="systemService"/>

</beans>
