<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xmlns:mvc="http://www.springframework.org/schema/mvc"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 支持注解 -->
	<mvc:annotation-driven />

  <!-- 对静态资源文件的访问， 将无法mapping到Controller的path交给default servlet handler处理 -->
  <mvc:default-servlet-handler />

	<!--<mvc:resources mapping="/resources/**" location="/static/" cache-period="31536000"/>-->
	<mvc:resources mapping="/resources/**" location="/static/"/>

	<!-- 扫描controller（controller层注入） -->
	<context:component-scan base-package="com.cheng.weixin.web.manage.controllers" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

  <!-- 定义无Controller的path <->view直接映射 -->
  <!--<mvc:view-controller path="/" view-name="/index"/>-->
	<mvc:view-controller path="/" view-name="redirect:/index"/> <!-- redirect: 必须加redirect: 不然不会经过controller -->

	<!-- 对模型视图添加前后缀 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- 拦截器配置，拦截顺序：先执行后定义的，排在第一位的最后执行。-->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/"/>
			<mvc:exclude-mapping path="/resources/**"/>
			<mvc:exclude-mapping path="/manage/drawCheckCode"/>
			<mvc:exclude-mapping path="/login/**"/>
			<bean class="com.cheng.weixin.web.manage.interceptor.LogInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>