body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: '黑体', '微软雅黑';
  background: #F0EFF5;
}
.header .notify {
  height: 38px;
  background: #FFFFFF;
  border-top: solid 1px #A9A9A9;
  border-bottom: solid 1px #A9A9A9;
}
.header .notify .icon {
  height: 28px;
  width: 60px;
  margin-top: 5px;
  background: #86ff9c;
  float: left;
  border-right: solid 1px #A9A9A9;
}
.header .notify .notify-text {
  height: 38px;
  line-height: 38px;
  color: black;
  font-size: 16px;
  padding-left: 10px;
  float: left;
  background: red;
}
