<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://code.alibabatech.com/schema/dubbo
          http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <dubbo:application name="cheng-dubbo-consumer"/>
  <dubbo:registry id="zk1" address="120.27.53.171:2181" protocol="zookeeper"/> <!-- 注意要关闭防火墙 -->
  <dubbo:consumer registry="zk1"/>

  <dubbo:reference id="redisService" interface="com.cheng.weixin.rpc.redis.service.RpcRedisService" timeout="5000" version="1.0"/>
  <dubbo:reference id="cartService" interface="com.cheng.weixin.rpc.cart.service.RpcCartService" timeout="5000" version="1.0"/>
  <dubbo:reference id="productService" interface="com.cheng.weixin.rpc.item.service.RpcProductService" timeout="5000" version="1.0"/>
  <dubbo:reference id="systemService" interface="com.cheng.weixin.rpc.system.service.RpcSystemService" timeout="5000" version="1.0"/>
  <dubbo:reference id="smsService" interface="com.cheng.weixin.rpc.message.service.RpcSmsService" timeout="5000" version="1.0"/>
  <dubbo:reference id="rabbitSmsService" interface="com.cheng.weixin.rpc.rabbitmq.service.RpcRabbitSmsService" timeout="5000" version="1.0"/>
  <dubbo:reference id="userService" interface="com.cheng.weixin.rpc.user.service.RpcUserService" timeout="5000" version="1.0"/>
  <dubbo:reference id="commentService" interface="com.cheng.weixin.rpc.comment.service.RpcCommentService" timeout="5000" version="1.0"/>
  <dubbo:reference id="orderService" interface="com.cheng.weixin.rpc.order.service.RpcOrderService" timeout="5000" version="1.0"/>
</beans>
