<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 打开Spring的Annotation支持 -->
	<context:annotation-config />

	<!-- 扫描注入  -->
	<!--<context:component-scan base-package="com.cheng.weixin.web.mobile">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>-->

	<context:property-placeholder ignore-unresolvable="true" location="classpath:globalconf.properties,classpath:system.properties"/>

	<import resource="classpath:spring/spring-dubbo-consumer.xml"/>
</beans>