<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!--<mvc:annotation-driven />-->

  <!-- 对静态资源文件的访问， 将无法mapping到Controller的path交给default servlet handler处理 -->
  <mvc:default-servlet-handler />
	<!-- 支持注解 -->
	<mvc:resources mapping="/resources/**" location="/static/" cache-period="31536000"/>

	<!-- 扫描controller（controller层注入） -->
	<context:component-scan base-package="com.cheng.weixin.web.mobile" use-default-filters="false">
      <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
      <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

  <!-- JSON 日期格式转换 -->
  <bean id="objectMapper" class="com.cheng.weixin.web.mobile.json.CustomObjectMapper" init-method="init">
    <property name="camelCaseToLowerCaseWithUnderscores" value="false"/>
    <property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss"/>
  </bean>
  <!-- JSONP 的支持 -->
  <mvc:annotation-driven>
    <mvc:message-converters register-defaults="false">
      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
        <constructor-arg index="0" value="UTF-8"/>
      </bean>
      <bean class="com.cheng.weixin.web.mobile.json.JsonpHttpMessageConverter">
        <property name="objectMapper" ref="objectMapper"/>
        <property name="supportedMediaTypes">
          <list>
            <value>application/json;charset=UTF-8</value>
            <value>application/javascript;charset=UTF-8</value>
            <value>text/html;charset=UTF-8</value>
          </list>
        </property>
        <property name="callbackName" value="callback"/>
      </bean>
    </mvc:message-converters>
  </mvc:annotation-driven>

  <!-- 对模型视图添加前后缀 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="order" value="2"/>
	  <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	  <property name="prefix" value="/WEB-INF/views/"/>
	  <property name="suffix" value=".jsp"/>
	</bean>

  <mvc:interceptors>
    <!-- 日志拦截管理器 -->
    <mvc:interceptor>
      <mvc:mapping path="/**" />
      <mvc:exclude-mapping path="/v1/login"/>
      <bean class="com.cheng.weixin.web.mobile.interceptor.LogInterceptor" />
    </mvc:interceptor>
    <!-- 恶意请求拦截器 -->
    <mvc:interceptor>
      <mvc:mapping path="/**" />
      <bean class="com.cheng.weixin.web.mobile.interceptor.MaliciousRequestInterceptor">
        <property name="appKeyName" value="X-AppKey"/>
        <property name="tokenName" value="X-Token"/>
        <property name="timestamp" value="5 * 60 * 1000L"/>
      </bean>
    </mvc:interceptor>
  </mvc:interceptors>


  <!-- Token 认证管理器 交由redis管理token -->
  <bean id="tokenManager" class="com.cheng.weixin.web.mobile.security.impl.RedisTokenManager">
      <property name="seconds" value="3600"/>
  </bean>
  <!-- Token 认证拦截器 -->
  <bean id="securityAspect" class="com.cheng.weixin.web.mobile.security.SecurityAspect">
    <property name="tokenManager" ref="tokenManager"/>
    <property name="tokenName" value="X-Token"/>
  </bean>
  <!-- Token 拦截器 -->
  <aop:config>
    <aop:aspect ref="securityAspect">
      <aop:around method="execute" pointcut="@annotation(org.springframework.web.bind.annotation.RequestMapping)"/>
    </aop:aspect>
  </aop:config>

</beans>

