<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://code.alibabatech.com/schema/dubbo
          http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <dubbo:application name="weixin-web-mobile"/>

  <!--<dubbo:registry id="zk1" address="${weixin.dubbo.reistry.address}" protocol="${weixin.dubbo.reistry.protocol}"/>-->
  <dubbo:registry id="zk1" address="120.27.53.171:2181" protocol="${weixin.dubbo.reistry.protocol}"/>

  <dubbo:consumer registry="zk1"/>

  <dubbo:reference id="redisService" interface="com.cheng.weixin.rpc.redis.service.RpcRedisService"
                   check="false" timeout="5000" version="1.0"/>
  <dubbo:reference id="productService" interface="com.cheng.weixin.rpc.item.service.RpcProductService"
                   check="false" timeout="5000" version="1.0"/>
  <dubbo:reference id="cartService" interface="com.cheng.weixin.rpc.cart.service.RpcCartService"
                   check="false" timeout="5000" version="1.0"/>
  <dubbo:reference id="systemService" interface="com.cheng.weixin.rpc.system.service.RpcSystemService"
                   check="false" timeout="5000" version="1.0"/>
  <dubbo:reference id="smsService" interface="com.cheng.weixin.rpc.message.service.RpcSmsService"
                   check="false" timeout="5000" version="1.0"/>
  <dubbo:reference id="rabbitLogService" interface="com.cheng.weixin.rpc.rabbitmq.service.RpcRabbitLogService"
                   check="false" timeout="5000" version="1.0"/>
  <dubbo:reference id="rabbitSmsService" interface="com.cheng.weixin.rpc.rabbitmq.service.RpcRabbitSmsService"
                   check="false" timeout="5000" version="1.0"/>
  <dubbo:reference id="userService" interface="com.cheng.weixin.rpc.user.service.RpcUserService"
                   check="false" timeout="5000" version="1.0"/>
</beans>
