<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

  <!-- 定义RabbitMQ的连接工厂 -->
  <rabbit:connection-factory id="connectionFactory"
                             host="192.168.1.110"
                             port="5672"
                             username="weixin"
                             password="weixin"
                             virtual-host="/weixin-service-log"/>

  <!-- 定义Rabbit模板，指定连接工厂以及定义exchange -->
  <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="fanoutExchange" />
  <!-- 定义队列 -->
  <!--<rabbit:template id="amqpTemplate" connection-factory="connectionFactory" queue="test_queue" />-->

  <!--<rabbit:template id="amqpTemplate" connection-factory="connectionFactory"-->
                   <!--exchange="myExchange" routing-key="foo.bar"/>-->

  <!-- MQ的管理，包括队列、交换器等 -->
  <rabbit:admin connection-factory="connectionFactory" />

  <!-- 定义队列，自动声明 -->
  <rabbit:queue name="myQueue" auto-declare="true"/>
  <!-- 定义交换器，自动声明 -->
  <rabbit:fanout-exchange name="fanoutExchange" auto-declare="true">
    <rabbit:bindings>
      <rabbit:binding queue="myQueue"/>
    </rabbit:bindings>
  </rabbit:fanout-exchange>

 <!-- <rabbit:topic-exchange name="myExchange">
    <rabbit:bindings>
      <rabbit:binding queue="myQueue" pattern="foo.*" />
    </rabbit:bindings>
  </rabbit:topic-exchange>-->

  <!-- 队列监听 -->
  <rabbit:listener-container connection-factory="connectionFactory">
    <rabbit:listener ref="foo" method="listen" queue-names="myQueue" />
  </rabbit:listener-container>

  <bean id="foo" class="com.cheng.test.Foo"/>
</beans>