<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.weixin.service.admin.dao.PermissionDaoMapper">
  <sql id="tableName">permission</sql>
  <sql id="columns">
    p.id,p.name,p.precode,p.remarks,p.create_date,p.update_date,p.status
  </sql>
  <sql id="ifCondition">
    <if test="id != null and id != ''">id=#{id},</if>
    <if test="name != null and name != ''">name=#{name},</if>
    <if test="precode != null and precode != ''">precode=#{precode},</if>
    <if test="remarks != null and remarks != ''">remarks=#{remarks},</if>
    <if test="createDate != null and createDate != ''">create_date=#{createDate},</if>
    <if test="updateDate != null and updateDate != ''">update_date=#{updateDate}</if>
    <if test="status != null and status != ''">status=#{status}</if>
  </sql>
  <sql id="selector">
    select
      <include refid="columns"/>
    from
      <include refid="tableName"/> AS p
  </sql>

  <sql id="whereCondition">
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <choose>
        <when test="status != null and status !=''">
          AND status = #{status}
        </when>
        <otherwise>
          AND status = 'NORMAL'
        </otherwise>
      </choose>
    </where>
  </sql>

  <sql id="updateCondition">
    <trim prefix="SET" suffixOverrides=",">
      <include refid="ifCondition"/>
    </trim>
  </sql>

<!-- =================================================================== -->
  <select id="load" parameterType="String" resultType="Permission">
    <include refid="selector"/>
    <include refid="whereCondition"/>
  </select>

  <select id="loadAll" resultType="Permission">
    <include refid="selector"/>
    <include refid="whereCondition"/>
  </select>

  <update id="update" parameterType="Permission">
    UPDATE <include refid="tableName"/>
    <include refid="updateCondition"/>
    <include refid="whereCondition"/>
  </update>

  <!-- 根据管理员ID获取该管理员的权限 -->
  <select id="loadByAdminId" parameterType="String" resultType="Permission">
    <include refid="selector"/>
    JOIN role_permission rp ON rp.permission_id = p.id
    JOIN role r ON r.id = rp.role_id
    JOIN admin_role ar ON ar.role_id = r.id
    JOIN admin a ON a.id = ar.user_id
    WHERE a.id = #{adminId} AND p.status = 'NORMAL' AND r.status = 'NORMAL' AND a.status = 'NORMAL'
  </select>

</mapper>

