body {
  font-size: 12px;
  color: #969696;
  font-family: Helvetica,Droidsansfallback;
  position:relative;
  background: #F0EFF5;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6, p, div, ul, li, a, button, section, figure, figcaption {
  margin: 0;
  padding: 0;
}
.header .slide {
  height: 160px;
}
.header .slide .dot span{
  background: #ffffff;
}
.header .slide .dot .cur{
  background-color:#FF5A1E;
  border: 1px solid #FF5A1E;
}
.header .notify {
  height: 38px;
  background: #FFFFFF;
  border-top: solid 1px #A9A9A9;
  border-bottom: solid 1px #A9A9A9;
}
.header .notify .icon {
  height: 28px;
  width: 38px;
  float: left;
  border-right: solid 1px #A9A9A9;
  font-size: 24px;
  line-height: 28px;
  margin: 5px 0;
  padding-left: 12px;
  color:#FF6600;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}
.header .notify .notify-text {
  height: 38px;
  line-height: 38px;
  color: black;
  font-size: 16px;
  text-indent: 10px;
}
.header .notify .notify-text .txt {
  text-align: left;
}
.content {
  margin-top: 10px;
  background: #ffffff;
}
.content .bd {
  padding: 0 2px;
}
.content .bd .row .col-33 {
  width: 32.333333333333332%;
  margin-left: 1%;
}
.content figure {
  display: block;
  border: solid 1px #EFEFEF;
  position: relative;
}
.content figure a {
  display: block;
  height: 105px;
}
.content figure a img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.content figure figcaption {
  /*background: darkblue;*/
}
.content figure figcaption .title {
  height: 24px;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  letter-spacing: 1px;
  text-indent: 5px;
  display: block;
}
.content figure figcaption .desc {
  height: 16px;
  font-size: 10px;
  font-style: normal;
  margin-top: 4px;
  margin-left: 8px;
  display: block;
  /*background: gold;*/
}
.content figure figcaption .info {
  height: 30px;
  margin-top: 7px;
  position: relative;
}
.content figure figcaption .info .price {
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #EF4F4F;
  display: block;
  float: left;
  padding: 0 5px;
  margin-top: 7px;


}
.content figure figcaption .info .price strong {
  padding-top: 6px;
  font-size: 18px;
  font-weight: normal;
}
.content figure figcaption .info .buy {
  height: 30px;
  float: right;
  position: absolute;
  bottom: 0;
  right: 5px;
}
.content figure figcaption .info .buy .count {
  height: 30px;
  font-size: 26px;
  color: #3B3B3B;
  line-height: 10px;
  padding: 0 3px;

}
.content figure figcaption .info .buy .icon {
  height: 30px;
  line-height: 30px;
  font-size: 28px;
  display: inline-block;
}
.content figure figcaption .info .buy .add {
  color:#EF4F4F;
}
.content figure figcaption .info .buy .sub {
  color:#cccccc;
}
.content figure figcaption .tag {
  color: #FFF;
  font-size: 12px;
  padding: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FF6600;
}

.into {
  margin-top: 60px;
  margin-bottom: 70px;
}
.footer .weui_tabbar .weui_tabbar_item .icon {
  display: block;
  height: 100px;
  width: 100%;
  font-size: 26px;
  line-height: 25px;
}
.shop-cart {
  height: 76px;
  width: 70px;
  margin: 0 auto;
  position:fixed;
  left:0;
  right: 0;
  bottom: 0;
  /*background: darkcyan;*/
}

.shop-cart .cart {
  height: 65px;
  width: 65px;
  margin: 0 auto;
  display: block;
  border-top: solid 1px #cccccc;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: #F7F7FA;
}
.shop-cart .cart .c-icon {
  height: 53px;
  width: 53px;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 50%;
  background: #FF5A1E;
}
.shop-cart .cart .c-icon .icon {
  height: 40px;
  width: 100%;
  font-size: 36px;
  color: #ffffff;
  display: block;
  text-align: center;
}
.shop-cart .cart .c-txt {
  height: 22px;
  width: 100%;
  line-height: 25px;
  color: #9E9E9F;
  font-size: 15px;
  display: block;
  text-align: center;
}
.total-price {
  padding: 0 3px;
  position: fixed;
  line-height: 20px;
  left:50%;
  bottom: 64px;
  color: #FF6600;
  margin-left: 22px;
  border: solid 1px #FF6600;
  border-radius: 5px;
  background: #ffffff;
  text-align: center;
}