body {
  font-size: 12px;
  color: #969696;
  font-family: Helvetica,Droidsansfallback;
  position:relative;
  background: #F1F1F1;

}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6, p, div, ul, li, a, button, section, figure, figcaption {
  margin: 0;
  padding: 0;
}
.content {
  margin-bottom: 35px;
}
.content .addr {

}
.content .addr .title {
  height: 27px;
  font-size: 16px;
  color: #858585;
  line-height: 30px;
  margin-left: 10px;
  font-weight: normal;
}
.content .addr .main {
  /*height: 110px;*/
  background: #ffffff;
 }
.content .addr .main .detail {
  margin-left: 10px;
  margin-right: 5px;
  padding-left: 2px;
}
.content .addr .main .detail .weui_panel_ft:before {
  left: 0;
}
.content .addr .main .detail .weui_panel_ft {
  padding: 2px 10px 2px 0;
  border-top: none;
}
.content .addr .main .detail .m-addr {
  /*min-height: 60px;*/
}
.content .addr .main .detail .m-addr .name-phone {
  height: 30px;
}

.content .addr .main .detail .m-addr .name-phone .name {
  float: left;
  height: 30px;
}
.content .addr .main .detail .m-addr .name-phone .name .icon {
  font-size: 16px;
  height: 30px;
  display: inline-block;
  color: #FF6600;
  line-height: 25px;
}
.content .addr .main .detail .m-addr .name-phone .name span {
  height: 30px;
  font-size: 18px;
  display: inline-block;
  line-height: 32px;
}

.content .addr .main .detail .m-addr .name-phone .phone {
  height: 30px;
  float: right;
  margin-right: 80px;
}
.content .addr .main .detail .m-addr .name-phone .phone .icon {
  font-size: 16px;
  height: 30px;
  display: inline-block;
  color: #FF6600;
  line-height: 27px;
}
.content .addr .main .detail .m-addr .name-phone .phone span {
  height: 30px;
  font-size: 16px;
  display: inline-block;
  line-height: 30px;
}
.content .addr .main .detail .m-addr .d-addr {
  height: 30px;
  font-size: 16px;
  clear: both;
  line-height: 38px;
}
.content .addr .main .detail .m-date {
  height: 30px;
}
/*.content .addr .main .detail .m-date .desc {
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 16px;
}
.content .addr .main .detail .m-date .d-date {
  height: 30px;
  line-height: 30px;
  margin-right: 80px;
  float: right;
  font-size: 16px;
}*/

.content .addr .main .detail .m-date .weui_cell_hd {
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 16px;
  /*background: darkcyan;*/
}
.content .addr .main .detail .m-date .weui_cell_bd {
  height: 30px;
  line-height: 30px;
  float: right;
  font-size: 16px;
  margin-right: 70px;
}
/* 弹框字居中 */
.weui_cell_bd p {
  text-align: center;
}

.content .pay .title {
  height: 27px;
  font-size: 16px;
  color: #858585;
  line-height: 30px;
  margin-left: 10px;
  font-weight: normal;
}
.content .pay .main {
  /*height: 110px;*/
  background: #ffffff;
}
.weui_cells_radio .weui_check + .weui_icon_checked:before {
  content: '\EA01';
  font-size: 22px;
  color: #cccccc;
}
.weui_cells_radio .weui_check:checked + .weui_icon_checked:before {
  content: '\EA06';
  font-size: 22px;
}
.content .pay .main .weui_cells {
  margin-top: 0;
}
.content .pay .main .weui_cells:after {
  border-bottom: none;
}
.content .pay .main .weui_cells .weui_cell {
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 3px;
  line-height: 170%;
}
.content .pay .main .detail {
  margin-right: 5px;
}
.content .pay .main .weixin {
  margin-left: 12px;
  margin-right: 5px;
  font-size: 16px;
}
.content .pay .main .weui_panel {
  margin-top: 0;
  margin-left: 10px;
}
.content .pay .main .weui_panel .weui_panel_ft {
  padding: 6px 10px 6px 0;
  border-top: none;
  /*border-bottom: 1px solid #E5E5E5;*/
  color: #383838;
  font-size: 16px;
}
.content .pay .main .weui_panel .weui_panel_ft:before {
  border-top: none;
}
.content .pay .main .weixin .icon {
  float: left;
  color: #04BE02;
  font-size: 20px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
}
.content .pay .main .more-pay {
  margin-left: 20px;
}
.content .pay .main .more-pay .weui_cells:before {
  border-top: none;
}
.content .pay .main .more-pay .weui_cells:after {
  border-bottom: 1px solid #D9D9D9;
}

.content .pay .main .more-pay .icon {
  float: left;
  font-size: 20px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
}
.content .pay .main .more-pay .ali .icon {
  color: #00AAEF;
}
.content .pay .main .more-pay .hdfk .icon {
  color: #FF6600;
}
.content .assets:before {
  border-top: none;
}
.content .assets:before {
  border-bottom: none;
}
.content .assets .weui_cell_switch {
  padding-top: 5px;
  padding-bottom: 5px;
}
.content .assets .weui_cell:before {
  border-top: none;
}
.content .assets .txt {
  font-size: 16px;
  color: #606060;
  float: left;
}
.content .assets .total {
  margin-left: 10px;
  float: left;
}
.content .assets .total {
  font-size: 14px;
  color: #ACACAC;
  padding-top: 2px;
}
.content .assets .weui_panel {
  height: 40px;
  margin-top: 0;
}
.content .assets .weui_panel .weui_panel_ft {
  height: 40px;
  padding: 0;
}
.content .assets .weui_panel .weui_panel_ft .menu {
  height: 40px;
  float: left;
  margin-left: 15px;
}
.content .assets .weui_panel .weui_panel_ft .menu .title {
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #606060;
  display: block;
  float: left;
}
.content .assets .weui_panel .weui_panel_ft .menu .note {
  height: 17px;
  font-size: 12px;
  background: #EF4F4F;
  display: block;
  padding: 1px;
  color: #F3F3F3;
  margin-top: 9px;
  margin-left: 3px;
  float: left;
  border-radius: 2px;
}
.content .assets .weui_panel .weui_panel_ft .msg {
  height: 40px;
  line-height: 40px;
  float: right;
  margin-right: 30px;
  color: #CDCDCD;
}
.content .remark {
  background: #ffffff;
  margin-top: 20px;
  height: 85px;

}
.content .remark .weui_cell {
  padding: 10px 10px;
}
.content .remark .weui_cell .weui_textarea {
  height: 52px;
  font-size: 14px;
}
.content .cost {

}

.content .cost .title {
  height: 27px;
  font-size: 16px;
  color: #858585;
  line-height: 30px;
  margin-left: 10px;
  font-weight: normal;
}
.content .cost .main {
  /*height: 110px;*/
  background: #ffffff;
}

/*.content .cost .main .item-list {*/
  /*height: 100px;*/
  /*background: darkgoldenrod;*/
/*}*/
.content .cost .main .item-list a {
  height: 70px;
  margin-right: 5px;
  display: block;
}
.content .cost .main .item-list .imgs {
  height: 70px;
  float: left;
}
.content .cost .main .item-list .imgs img {
  height: 60px;
  width: 55px;
  margin-right: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: goldenrod;

}
.content .cost .main .item-list .omit {
  height: 50px;
  float: left;
  margin-left: 20px;
}
.content .cost .main .item-list .omit i {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #cccccc;
  float: left;
  margin-right: 15px;
  margin-top: 31px;
}
.content .cost .main .item-list .count {
  height: 70px;
  line-height: 70px;
  float: right;
  margin-right: 8%;
  text-align: center;
}
.content .cost .main .amount {
  height: 100px;
  margin-top: 5px;
}
.content .cost .main .amount .m-wrap {
  margin-left: 10px;
}
.content .cost .main .amount .a-product {
  height: 25px;
  line-height: 25px;
}
.content .cost .main .amount .a-transport {
  height: 25px;
  line-height: 25px;
}
.content .cost .main .amount .a-point {
  height: 25px;
  line-height: 25px;
}

.content .cost .main .amount  .txt {
  float: left;
  font-size: 16px;

}
.content .cost .main .amount .price {
  float: right;
  font-size: 16px;
  font-style: normal;
  margin-right: 50px;
}
.footer {
  height: 45px;
  width:100%;
  position:fixed;
  left:0;
  bottom:0;
  border-top: solid 1px #EFEFEF;
  background: #EFEFEF;
  /*background: darkolivegreen;*/
}
.footer .f-main {
  height: 45px;
}
.footer .f-main .price {
  height: 45px;
  font-size: 18px;
  color: #797979;
  line-height: 45px;
  text-align: center;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  /*background: salmon;*/
}
.footer .f-main .price .total {
  color: #FF6600;
  margin-left: 5px;
}
.footer .f-main .pay {
  height: 45px;
}
.footer .f-main .pay a {
  height: 45px;
  font-size: 18px;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  background: #FF5A1E;
}




