body {
  font-size: 12px;
  color: #969696;
  font-family: Helvetica,Droidsansfallback;
  position:relative;
  background: #F0EFF5;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6, p, div, ul, li, a, button, section, figure, figcaption {
  margin: 0;
  padding: 0;
}
header .weui-header {
  background: #ffffff;
  border-bottom: solid 1px #cccccc;
}
.main {
  background: #ffffff;
  margin-bottom: 70px;
}
.main .deliver-date {
  height: 24px;
  color: #6D6D6D;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  /*background: darkcyan;*/
}
.main .list {
  /*height: 200px;*/
  margin: 0 15px;
  border-bottom: solid 1px #F1F1F1;
  /*background: darkcyan;*/
}
.main .list .weui_cells {
  margin-top: 1px;
}
.main .list .weui_cells:after {
  border-bottom: none;
}
.main .list .weui_cells .weui_cell {
  height: 30px;
  width: 7%;
  padding: 0;
  float: left;
  margin-top: 40px;
  margin-right: 8px;
}
.main .list .weui_cells .weui_cell_bd {
  width: 90%;
  float: left;
}
.main .list .weui_cells .weui_cell:active {
  background: #ffffff;
}
.main .list .item {
  height: 110px;
  /*border-top: solid 1px #F1F1F1;*/
  position: relative;
  /*background: bisque;*/
}
.main .list .no-all {
  height: 110px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FAFAFA;
  filter:alpha(opacity=0.4);
  -moz-opacity:0.4;
  opacity:0.4;
}
.main .list .item .pic {
  height: 90px;
  width: 95px;
  margin-top: 10px;
  float: left;
  position: relative;
}
.main .list .item .pic .no {
  height: 90px;
  width: 95px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  line-height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;
  border-radius: 3px;
}
.main .list .item .pic img {
  height: 90px;
  width: 95px;
  border-radius: 3px;
}
.main .list .item .detail {
  height: 90px;
  float: left;
  margin-top: 6px;
  margin-left: 8px;
}

.main .list .item .detail .info {
  height: 72px;
  color: #C0C0C0;
  /*background: darkblue;*/
}
.main .list .item .detail .info .title {
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  color: #3E3E3E;
  display: block;
  font-weight: normal;
  /*background: darkseagreen;*/
}
.main .list .item .detail .info .desc {
  height: 22px;
  line-height: 22px;
  display: block;
  font-size: 12px;
  font-style: normal;
  color: #A2A2A2;
  /*background: darkseagreen;*/
}

.main .list .item .detail .info .price {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #FF5E23;
}
.main .list .item .detail .info .price strong {
  font-weight: normal;
  font-size: 18px;
}
.main .list .item .buy {
  height: 40px;
  margin-top: 60px;
  margin-right: 10px;
  float: right;
}
.main .list .item .buy .icon {
  height: 40px;
  display: block;
  float: left;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.main .list .item .buy .sub {
  color: #CDCDCD;
}
.main .list .item .buy .normal{
  color: #FF5A1E;
}
.main .list .item .buy .invalid{
  color: #CDCDCD;
}
.main .list .item .buy .count {
  height: 40px;
  display: block;
  float: left;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  padding: 0 6px;
  color: #010101;
}
.main .list .hint {
  height: 20px;
  line-height: 20px;
  border-top: solid 1px #F1F1F1;
}
.main .list .hint .price {
  color: #6D6D6D;
}
.main .list .hint .remark {
  color: #FF5A1E;
}
.footer {
  height: 50px;
  width:100%;
  position:fixed;
  left:0;
  bottom:0;
  border-top: solid 1px #EFEFEF;
  background: #ffffff;
}
.footer .f-main {
  height: 50px;
}
.footer .f-main .weui_cells {
  margin-top: 3px;
  float: left;
}
.footer .f-main .weui_cells p {
  padding-top: 1px;
}
.footer .f-main .weui_cells .weui_cell:active {
  background-color: #ffffff;
}
.footer .f-main .weui_cells:before {
  border-top: none;
}
.footer .f-main .weui_cells:after {
  border-bottom: none;
}
.footer .f-main .sell {
  height: 50px;
  margin-right: 5px;
  padding: 0 8px;
  float: right;
}
.footer .f-main .sell .price {
  height: 28px;
  text-align: center;
}
.footer .f-main .sell .price .txt {
  height: 28px;
  line-height: 30px;
  color: #797979;
  font-size: 16px;
  display: block;
  float: left;
}
.footer .f-main .sell .price .cost {
  height: 28px;
  line-height: 30px;
  font-size: 18px;
  color: #FF6600;
  display: block;
  float: left;
}
.footer .f-main .sell .desc {
  height: 22px;
  line-height: 10px;
  font-size: 12px;
  text-align: right;
  display: block;
  color: #C0C0C0;
}
/*.footer .f-main .desc {
  height: 50px;
  !*width: 40%;*!
  float: left;
  padding-left: 4px;
  padding-right: 2px;
  background: darkcyan;
}*/
.footer .f-main .submit {
  height: 50px;
  float: right;
}
.footer .f-main .submit a {
  height: 50px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  line-height: 45px;
  text-align: center;

  padding: 0 15px;
  background: #FF5A1E;
}